<html>
  <head>
    <title>Add Activity</title>
  </head>
  <body>
  <form name="input" action="insert_activity" method="post">
    Title:<input type="text" id="title" name="title" /> <br>
    Start Date and Time:<input type="text" id="start_time" name="start_time"/>  <br>
    Duration:<input type="text" id="Duration" name="duration"/><br>
    Description:<input type="text" id="Description" name="description"/><br>
    Location:<input type="text" id="Location" name="location"/><br>
    Notes:<input type="text" id="notes" name="notes"/><br>
    Priority:<br>
    <input type="radio" name="priority" value="urgent" />Urgent<br>
    <input type="radio" name="priority" value="normal" />Normal<br>
    <input type="radio" name="priority" value="low" />Low<br>
    <input type="submit" name="submit" value="Submit">
    </form>
  </body>
  </html>
