<html>
  <head>
    <title>Add User</title>
  </head>
  <body>
  <form name="input" action="insert_activity" method="post">
    Title:<input type="text" id="title" name="title" /> <br>
    Date:<input type="text" id="Date" name="date"/>  <br>
    Duration:<input type="text" id="Duration" name="duration"/><br>
    Description:<input type="text" id="Description" name="description"/><br>
    <input type="submit" name="create" value="Create!">
    </form>
  </body>
  </html>
