<html>
  <head>
    <title>Add Activity</title>
  </head>
  <body>
  <form name="input" action="insert_activity" method="post">
    Title:<input type="text" id="title" name="title" /> <br>
    Start Date and Time:<input type="text" id="start_time" name="start_time"/>  <br>
    Duration:<input type="text" id="Duration" name="duration"/><br>
    Description:<input type="text" id="Description" name="description"/><br>
    <input type="submit" name="create" value="Create!">
    <input type="hidden" name="priority" value="normal"/>
    </form>
  </body>
  </html>
