<html>
  <head>
    <title>Add User</title>
  </head>
  <body>

  <form name="input" action="do_edit_activity" method="post">
    Title:<input type="text" id="title" name="title" value="<%=@activity.title  %>"/><br>
    Date:<input type="text" id="Date" name="date" value="  <%=@activity.date  %>"/>  <br>
    Duration:<input type="text" id="Duration" name="duration" value="  <%=@activity.duration  %>"/><br>
    Description:<input type="text" id="Description" name="description" value="  <%=@activity.description  %>"/><br>
    Status:<select>
        <option>Not Done</option>
       <option <% if (@activity.status=="done") then
       "selected=\"selected\" " end%> >Done</option>
    </select>  <br>
    <input type="submit" name="edit" value="edit">
    </form>
  </body>
  </html>
