<html>
  <head>
    <title>Add User</title>
  </head>
  <body>
  <form name="input" action="do_edit_activity" method="post">
    Title:<input type="text" id="title" name="title" value=""/> <br>
    Date:<input type="text" id="Date" name="date" value=""/>  <br>
    Duration:<input type="text" id="Duration" name="duration" value=""/><br>
    Description:<input type="text" id="Description" name="description" value=""/><br>
    <input type="submit" name="edit" value="edit">
    </form>
  </body>
  </html>
